.characters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pagination {

}
.character-block {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  width: 22%;
  margin: 10px;


    &__image img{
      width: 100px;
      height: auto;
    }
    &__info {
      display: flex;
      flex-direction: column;
    }
  }
